TOSSINVEST_CLIENT_ID=your_client_id_here
TOSSINVEST_CLIENT_SECRET=your_client_secret_here
KRX_ID=your_krx_id_here
KRX_PW=your_krx_password_here
KIS_APP_KEY=your_kis_mock_app_key_here
KIS_APP_SECRET=your_kis_mock_app_secret_here
KIS_ACCOUNT_NO=your_8_digit_account_no_here
KIS_ACCOUNT_PRODUCT_CODE=your_2_digit_product_code_here
KIS_MOCK_BASE_URL=https://openapivts.koreainvestment.com:29443
